<%- include('../includes/header') %>

<h1>Articles</h1>

<!-- Form per creare un nuovo articolo -->
<h2>Create New Article</h2>
<form action="/articles" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="form-group">
        <label for="size">Size:</label>
        <input type="text" class="form-control" id="size" name="size" required>
    </div>
    <div class="form-group">
        <label for="image1">Image 1 (mandatory):</label>
        <input type="file" class="form-control-file" id="image1" name="image1" required>
    </div>
    <div class="form-group">
        <label for="image2">Image 2 (optional):</label>
        <input type="file" class="form-control-file" id="image2" name="image2">
    </div>
    <div class="form-group">
        <label for="image3">Image 3 (optional):</label>
        <input type="file" class="form-control-file" id="image3" name="image3">
    </div>
    <button type="submit" class="btn btn-primary">Save Article</button>
</form>

<hr>

<!-- Lista degli articoli presenti -->
<h1>Existing Articles</h1>
<div class="row">
    <% articles.forEach(article => { %>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= article.title %></h5>
                    <p class="card-text">Size: <%= article.size %></p>
                    <div class="article-images">
                        <% article.images.forEach((image, index) => { %>
                            <img src="<%= image.url %>" class="card-img-top mb-2" alt="Article Image" style="width: 100px; height: 100px;">
                        <% }); %>
                    </div>

                    <!-- Form per la modifica dell'articolo -->
                    <form action="/articles/<%= article._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" name="title" value="<%= article.title %>" required>
                        </div>
                        <div class="form-group">
                            <label for="size">Size</label>
                            <input type="text" class="form-control" id="size" name="size" value="<%= article.size %>" required>
                        </div>
                        <div class="form-group">
                            <label for="images">Images</label>
                            <div class="mb-2">
                                <% article.images.forEach((image, index) => { %>
                                    <img src="<%= image.url %>" class="mr-2" alt="Article Image" style="width: 50px; height: 50px;">
                                <% }); %>
                            </div>
                            <input type="file" class="form-control-file" id="image1" name="image1">
                            <input type="file" class="form-control-file" id="image2" name="image2">
                            <input type="file" class="form-control-file" id="image3" name="image3">
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Update</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </form>

                    <!-- Form per l'eliminazione dell'articolo -->
                    <form action="/articles/<%= article._id %>?_method=DELETE" method="POST" class="d-inline mt-2">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    <% }); %>
</div>

<%- include('../includes/footer') %>
