<%- include('../includes/header') %>

<h1>Users</h1>

<!-- Form per creare un nuovo utente -->
<h2>Create New User</h2>
<form action="/users" method="POST">
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" name="firstName" required>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" name="lastName" required>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <button type="submit" class="btn btn-primary">Save User</button>
</form>

<hr>

<!-- Lista degli utenti presenti -->
<h2>Existing Users</h2>
<div class="row">
    <% users.forEach(user => { %>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= user.firstName %> <%= user.lastName %></h5>
                    <p class="card-text">Email: <%= user.email %></p>

                    <!-- Form per la modifica dell'utente -->
                    <form action="/users/<%= user._id %>?_method=PUT" method="POST">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" value="<%= user.firstName %>" required>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" value="<%= user.lastName %>" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" required>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Update</button>
                    </form>

                    <!-- Form per l'eliminazione dell'utente -->
                    <form action="/users/<%= user._id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    <% }); %>
</div>

<%- include('../includes/footer') %>

